<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>تنافسوا</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <link rel="icon" href="https://www.tanafaso.com/images/icon.png">
</head>

<style>
  .content {
    max-width: 500px;
    margin: auto;
  }

  a {font-size: 20px}
</style>

<body>
  <div class="content">
    <center>
    <img src="https://www.tanafaso.com/images/logo.png" alt="Logo" width="200">
    </center>

    <p align="right" style="width: 500px;">
      </pstyle> تطبيق تنافسوا يساعد الأقارب والأصدقاء على أن يشجع بعضهم بعضا على ذكر الله.
<br>
<br>
      يتنافس الإنسان على مدار يومه مع نفسه وأقرانه لكي يرفع مستواه المادي أو الاجتماعي في الدنيا، ولكن نادراً ما يتنافس
      مع
      أحد حتى يرفع درجاته في جنات النعيم. فلما لا نتنافس مع من نحب في ذكر الله فترتفع درجاتنا وتطمئن قلوبنا. (الَّذِينَ
      آمَنُواْ وَتَطْمَئِنُّ قُلُوبُهُم بِذِكْرِ اللَّهِ أَلاَ بِذِكْرِ اللَّهِ تَطْمَئِنُّ الْقُلُوبُ)الرعد ٢٨

<br>
<br>
      .حاليًا، هناك ثلاث طرق يمكنك من خلالها تحدي أصدقائك باستخدام التطبيق
<br>
      <b>
      ١- قراءة أذكار
      </b>
      يمكنك اختيار مجموعة من الأذكار وتكرار كل ذِكر وتحدى نفسك و بعض أصدقائك أن يقرؤوها.

<br>
<br>
      <b>
      ٢- معاني كلمات القرآن
      </b>
      تحدى نفسك و بعض أصدقائك أن يختاروا المعاني الصحيحة لعدد معين من كلمات القرآن الكريم.

<br>
<br>
      <b>
      ٣- قراءة قرآن
      </b>
      تحدى نفسك وبعض أصدقائك أن يقرؤوا بعض آيات القرآن الكريم.

<br>
<br>
      يمكن إضافة أصدقاء بأكثر من طريقة.
      <br>
      ١- عن طريق الفيسبوك. في صفحة للأصدقاء. يمكنك ضغط على زر علامة الزائد، ثم الضغط على أضف صديق. ثم فيسبوك.
      <br>
      ٢- يمكنك مشاركة التطبيق وكود المستخدم الخاص بك مع أصدقائك من خلال الذهاب لصفحة الأصدقاء ثم ضغط زر الزائد ثم الضغط
      على زر المشاركة.
<br>
<br>
      ٣- إذا كنت تعرف كود المستخدم الخاص بصديق، يمكنك الذهاب لصفحة الأصدقاء ثم ضغط زر الزائد ثم ضغط زر الإضافة ثم إدخال
      كود المستخدم الخاص بصديقك وسيتم إرسال طلب صداقة له.

<br>
      يمكنك إيجاد كود المستخدم الخاص بك في صفحة الملف الشخصي تحت الإسم.
      </p>

    <center>
    <a
        href='https://www.tanafaso.com/privacy-policy'
        alt='Privacy Policy'
        height="400"/>Privacy Policy Link</a>
    <a
      href='https://play.google.com/store/apps/details?id=com.tanafaso.azkar&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
        alt='Get it on Google Play'
        src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
        height="200" /></a>
    <a href="https://apps.apple.com/us/app/%D8%AA%D9%86%D8%A7%D9%81%D8%B3%D9%88%D8%A7/id1564309117?itsct=apps_box_badge&amp;itscg=30200"
      style="display: inline-block; overflow: hidden; border-radius: 13px;"><img
        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/white/en-us?size=250x83&amp;releaseDate=1620432000&h=6f3a2d894063569eab9e97c5692dfd2d"
        alt="Download on the App Store" style="border-radius: 13px;" height="100"></a>
    </center>
    <script src="js/scripts.js"></script>
  </div>
</body>

</html>