<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Privacy Policy for Tanafaso</title>
</head>
<body>
<h1>Privacy Policy for Tanafaso | تنافسوا</h1>

<p>At tanafaso, accessible from <a href="https://www.tanafaso.com">https://www.tanafaso.com</a>, <a
    href="https://play.google.com/store/apps/details?id=com.tanafaso.azkar">Google Play
  Store</a>, <a href="https://apps.apple.com/us/app/%D8%AA%D9%86%D8%A7%D9%81%D8%B3%D9%88%D8%A7/id1564309117">Apple
  App Store</a> one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by tanafaso and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not
  hesitate to contact us by sending us an email on azkar.challenge@gmail.com.</p>

  <p>This Privacy Policy applies only to our online activities and is valid for visitors to our
    website and application with regards to the information that they shared and/or collect in
    tanafaso. This policy is not applicable to any information collected offline or via channels
    other than this website or the application. Our Privacy Policy was created with the help of the
    <a href="https://www.termsfeed.com/privacy-policy-generator/">TermsFeed Free Privacy Policy Generator</a>.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>When you register for an Account, we may ask for your contact information, including items
  such as name and email address.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
  <li>To provide and maintain our Service, including to monitor the usage of our Service.</li>
  <li>To maintain your registration as a user to the service.</li>
  <li>Send you emails</li>
</ul>

<h2>Usage Data</h2>

<p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.

  When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.

  We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>Children's Information</h2>

<p> Our app can be safely used by children.</p>
<p> Apps without age restriction feature contents without youth protection relevance. They can be
      directly aimed at children and young persons but also at an adult audience. For instance,
  utility programs, product catalogues or tool apps fall into this category as well as social
  networks in which all user-generated content is being thoroughly reviewed, filtered or
  moderated.</p>

<h2>Contact US</h2>

<p>Contact us on azkar.challenge@gmail.com.</p>

</body>
</html>